
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- CSS only -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<H3>WELCOME TO USER REGISTER PAGE</H3>
			</div>
			<div class="card-body">
				<form th:action="@{/save}" method="POST">

					<div class="row">
						<div class="col-3">
							<label for="userName">USER NAME </label>
						</div>
						<div class="col-5">
							<input type="text" id="userName" name="userName"
								class="form-control" />
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							<label for="userMail">USER EMAIL</label>
						</div>
						<div class="col-5">
							<input type="text" id="userMail" name="userMail"
								class="form-control" />
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							<label for="">USER PASSWORD</label>
						</div>
						<div class="col-5">
							<input type="password" name="userPwd" class="form-control" />
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							<label>USER ROLES </label>
						</div>
						<div class="col-5">
							<input type="checkbox" name="roles" value="ADMIN"> ADMIN
							<input type="checkbox" name="roles" value="MANAGER">
							MANAGER
						</div>
					</div>

					<input type="submit" value="Register" class="btn btn-success" />
				</form>
			</div>
			<div class="card-footer bg-info text-white">
				<span th:text="${message}"></span>
			</div>
		</div>
	</div>
</body>
</html>

