<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="" method="POST">
<pre>


NAME     ::<input type="text" value="userName"/>
EMAIL	 ::<input type="text" value="userMail"/>
PASSWORD ::<input type="text" value="userPassword"/>
ROLES    ::<input type="checkbox" name="roles" value="ADMIN"/>ADMIN
           <input type="checkbox" name="roles" value="MANAGER"/>MANAGER 
          <input type="submit" value="Register">
       



</pre>


</form>
</body>
</html>